<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newsong.newsongtime">

    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.newsong.newsongtime.newsongSplashActivity"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashThemeCommon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.newsong.newsongtime.SermonActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.newsong.newsongtime.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.newsong.newsongtime.JooBoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.TrackActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track1"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track2"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track3"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track4"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track5"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track6"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track7"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track8"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track9"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track10"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track11"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.newsong.newsongtime.track.Track12"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <receiver android:name="com.newsong.newsongtime.NotificationPublisher" />
        <service android:name="com.newsong.newsongtime.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>